<%= form_with(model: cliente) do |form| %>
  <div class="field">
    <%= form.label :conta %>
    <%= form.text_field :conta %>
  </div>
  <div class="field">
    <%= form.label :valor %>
    <input type="text" name="valor" id= "valor" autocomplete="off" readonly 
    onfocus="this.removeAttribute('readonly');" >
  </div>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar" %>
  </div>
<% end %>