<p class="alert alert-info" id="notice"><%= notice %></p>
<% if current_cliente %>
  <div class="center caixa">
    Logged in as <strong><%= current_cliente.email %></strong>
  </div>
  <div class="center caixa">
    <span class="btn btn-success font_x-large">
    <%= link_to "Entrar", current_cliente %>
    </span> | <span class="btn btn-success font_x-large">
    <%= link_to "Log Out", logout_path %> </span>
  </div>
<% else %>
  <div class="center caixa">
  <h1>Banco App</h1>
  <h2>Escolha o que deseja fazer. </h2>
  <p> <strong>Instruções de uso:</strong> <p>
  <p>Se você já tem uma conta, clique em <em>Log in</em>. </p>
  <p> Se ainda não é nosso cliente, clique em <em>Sign Up</em>. </p>
  <p>Agora se deseja fazer um depósito, clique em <em>Depósito</em>.</p>
  <br>
  <br>
  <div class="btn btn-info font_x-large"><%= link_to "Log In", login_path %></div>
  <div class="btn btn-success font_x-large"><%= link_to "Depósito", depositar_path %></div>
  <div class="pad"> ou </div> 
  <div class="btn btn-danger font_x-large"><%= link_to "Sign Up", signup_path %></div>
  </div>
<% end %>